<a href="https://colab.research.google.com/github/Emmanuelmitra/python-advance-/blob/main/advance_python_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
l=['emmanuel','superman','spyderman','krish','ironman']

In [2]:
for i in enumerate(l):
  print(i)

(0, 'emmanuel')
(1, 'superman')
(2, 'spyderman')
(3, 'krish')
(4, 'ironman')

In [3]:
for i,j in enumerate(l):
  print(j)

emmanuel
superman
spyderman
krish
ironman

In [4]:
for i,j in enumerate(l):
  print(i)

0
1
2
3
4

In [5]:
l

['emmanuel', 'superman', 'spyderman', 'krish', 'ironman']

In [6]:
for i,j in enumerate(l):
  if i>2:
    print(i,j)

3 krish
4 ironman

In [7]:
for i,j in enumerate(l):
  if i==1:
    print(j)

superman

In [8]:
l

['emmanuel', 'superman', 'spyderman', 'krish', 'ironman']

In [21]:
for i in enumerate(l,start=5):
  print(i)

(5, 'emmanuel')
(6, 'superman')
(7, 'spyderman')
(8, 'krish')
(9, 'ironman')

In [25]:
for i,j in enumerate(l,start=100):
  print(j,i)

emmanuel 100
superman 101
spyderman 102
krish 103
ironman 104

In [27]:
l1=[1,2,3,4,5]
l2=['emmanuel','mitra','spyderman','superman','ironman']

In [30]:
l3=list(zip(l1,l2))

In [31]:
for i in l3:
  print(i)

(1, 'emmanuel')
(2, 'mitra')
(3, 'spyderman')
(4, 'superman')
(5, 'ironman')

In [32]:
l1=[1,2,3,4,5]
l2=['emmanuel','mitra','spyderman','superman','ironman']

In [34]:
import pandas as pd

In [37]:
df=pd.DataFrame(zip(l1,l2),columns=['rollnum','name'])

In [38]:
df

   rollnum       name
0        1   emmanuel
1        2      mitra
2        3  spyderman
3        4   superman
4        5    ironman

In [39]:
l1=[1,2,3,4,5]
l2=['emmanuel','mitra','spyderman','superman','ironman']
l3=[22,33,44,55,66]

In [41]:
l1=[1,2,3,4,5]
l2=['emmanuel','mitra','spyderman','superman','ironman']
l3=[22,33,44,55,66]
l4=['india','usa','japan','europe','philipines']
import pandas as pd
df = pd.DataFrame(zip(l1, l2, l3,l4), columns=['Rollno', 'Name', 'Marks','country'])
df

   Rollno       Name  Marks     country
0       1   emmanuel     22       india
1       2      mitra     33         usa
2       3  spyderman     44       japan
3       4   superman     55      europe
4       5    ironman     66  philipines

In [61]:
def larg(l):
  return max(l)

In [69]:
l3=list(map(larg,[[1,2,3]]))
print(l3)

[3]

np.where() function

In [71]:
import numpy as np

In [79]:
l=[1,2,3,4,4,5,6,7,8,9,100]
l2=np.array(l)

In [87]:
np.where(l2>5 ,'high', 'low')

array(['low', 'low', 'low', 'low', 'low', 'low', 'high', 'high', 'high',
       'high', 'high'], dtype='<U4')

In [88]:
df=pd.read_csv('/content/mba.csv')
df.head(3)

   datasrno  workex  gmat
0         1      21   720
1         2     107   640
2         3      57   740

In [104]:
l=[1,2,3,4,5,6,7,7,8,9,122]

l2=np.array(l)
l3=np.where(l2>5,1,0)
print(l3)

[0 0 0 0 0 1 1 1 1 1 1]

In [105]:
df.head()

   datasrno  workex  gmat
0         1      21   720
1         2     107   640
2         3      57   740
3         4      99   690
4         5     208   710

In [114]:
f=lambda x:np.sum(x)

In [115]:
df['gmat'].apply(f)

0      720
1      640
2      740
3      690
4      710
      ...
768    620
769    670
770    610
771    610
772    620
Name: gmat, Length: 773, dtype: int64

In [116]:
f=lambda x:x/100
df['gmat'].apply(f)

0      7.2
1      6.4
2      7.4
3      6.9
4      7.1
      ...
768    6.2
769    6.7
770    6.1
771    6.1
772    6.2
Name: gmat, Length: 773, dtype: float64

In [117]:
f=lambda x:np.mean(x/100)
df['gmat'].apply(f)

0      7.2
1      6.4
2      7.4
3      6.9
4      7.1
      ...
768    6.2
769    6.7
770    6.1
771    6.1
772    6.2
Name: gmat, Length: 773, dtype: float64

In [118]:
df['gmat'].apply(f)

0      7.2
1      6.4
2      7.4
3      6.9
4      7.1
      ...
768    6.2
769    6.7
770    6.1
771    6.1
772    6.2
Name: gmat, Length: 773, dtype: float64

In [121]:
f=lambda x: x/100
df['percentgmat']=df['gmat'].apply(f)

In [122]:
df

     datasrno  workex  gmat  percentgmat
0           1      21   720          7.2
1           2     107   640          6.4
2           3      57   740          7.4
3           4      99   690          6.9
4           5     208   710          7.1
..        ...     ...   ...          ...
768       769      88   620          6.2
769       770     132   670          6.7
770       771      28   610          6.1
771       772      10   610          6.1
772       773      52   620          6.2

[773 rows x 4 columns]

In [123]:
df.workex=[1 if i>100 else 0 for i in df.workex]

In [ ]:
f=lambda x: x=[1 if i>100 else 0 for i in df.workex]

In [124]:
df.head()

   datasrno  workex  gmat  percentgmat
0         1       0   720          7.2
1         2       1   640          6.4
2         3       0   740          7.4
3         4       0   690          6.9
4         5       1   710          7.1

In [126]:
df1=pd.read_csv('/content/mba.csv')

In [130]:
df1.head(3)

   datasrno  workex  gmat
0         1      21   720
1         2     107   640
2         3      57   740

In [144]:
df1['gmatcat']=['high' if i>700 else 'low' for i in df1.gmat]

In [145]:
df1.tail()

     datasrno  workex  gmat gmatcat
768       769      88   620     low
769       770     132   670     low
770       771      28   610     low
771       772      10   610     low
772       773      52   620     low

In [146]:
df1['gmatcat'].value_counts()

high    511
low     262
Name: gmatcat, dtype: int64

In [149]:

# Import label encoder
from sklearn import preprocessing
 
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

In [163]:
df1['gmatcat'].apply(LabelEncoder())

NameError: ignored

In [162]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.