<a href="https://colab.research.google.com/github/Emmanuelmitra/python-advance-/blob/main/Nested_data_structures_last_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Unpacking nested lists

In [2]:
l=[[1,2,3],[4,5,6],[7,8,9,10]]

In [4]:
[j for i in l for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
for i in l:
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9
10

In [17]:
t=((1,2,3,4),(5,6,7,8),(9,10,11))
[j for i in t for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [16]:
t=((1,2,3),(4,5,6),(7,8,9,10))
[j for I in t for j in i]

[7, 8, 9, 10, 7, 8, 9, 10, 7, 8, 9, 10]

In [24]:
l=[[[1,2,3,4],[4,3],[9,8]]]

In [25]:
[z for i in l for j in i for z in j]

[1, 2, 3, 4, 4, 3, 9, 8]

In [32]:
# Print "Z" from the nested data.
l = [["Hat", "Glove", "Goggle"], ["Button", "Zipper", "Hook"]]

In [34]:
l[1][1][0]

'Z'

In [36]:
# What color is the violet?
l = [{"orange": "orange"}, {"rose": "red"}, {"violet": "blue"}]

In [38]:
l[2]['violet']

'blue'

In [43]:
# Print the values of the "roads" key from the nested dictionary.
d = {"Dakar":{"weather":"sunny", "roads":"dry"}}

In [44]:
d['Dakar']['roads']

'dry'

## sort function()

In [62]:
l=[1,2,3,4,5,7,8,2,31,100,20,1000]

In [63]:
l.sort(reverse=True)

In [64]:
l

[1000, 100, 31, 20, 8, 7, 5, 4, 3, 2, 2, 1]

In [68]:
t=(1,4,2,8,9,2,3,6,5)
s={100,200,5,2,1,4,4000}

In [77]:
l=[2,1,3,5,2,1,4,2000]
l.sort()
print(l)

[1, 1, 2, 2, 3, 4, 5, 2000]

In [81]:
l=[2,1,3,5,2,1,4,2000]
l2=sorted(l)
print(l)

[2, 1, 3, 5, 2, 1, 4, 2000]

In [82]:
# tuple sort and sorted
t=(3,2,6,1,8,19)

In [84]:
sorted(t)

[1, 2, 3, 6, 8, 19]

In [86]:
s={3,2,4,5,7777,000,999,222}

In [87]:
sorted(s)

[0, 2, 3, 4, 5, 222, 999, 7777]

In [126]:
l=['emmanuel','simon','superman','ironman']

In [129]:
sorted(l,key=lambda x:x[2])

['emmanuel', 'simon', 'ironman', 'superman']

In [143]:
# d={'zmmanuel':2,'hero':1,'spyderman':4,'thanos':3}
# d1={k:v for k,v in sorted(d.items(),key=lambda v:v[0])}
# print(d1)

filter function

In [150]:
l=[1,2,3,-4,-6,-1000,-20]
f=lambda x: x<0
list(filter(f,l))

[-4, -6, -1000, -20]

In [153]:
l=[1,2,3,4,5,6,7,7,8,9,9,9,9]
f=lambda x: x%2==0
list(filter(f,l))

[2, 4, 6, 8]

In [155]:
l=[1,2,3,4,5,6,7,7,8,9,9,9,9]
f=lambda x: x%2!=0
tuple(filter(f,l))

(1, 3, 5, 7, 7, 9, 9, 9, 9)

In [181]:
import pandas as pd
df=pd.read_csv('/content/mba.csv')

In [182]:
df.head(3)

   datasrno  workex  gmat
0         1      21   720
1         2     107   640
2         3      57   740

In [183]:
df['gmat']=pd.DataFrame(sorted(df.gmat))

In [184]:
df.head()

   datasrno  workex  gmat
0         1      21   600
1         2     107   600
2         3      57   610
3         4      99   610
4         5     208   610

In [185]:
df['gmat']=pd.DataFrame(['high' if i>600 else 'low' for i in df.gmat])

In [186]:
df.tail(4)

     datasrno  workex  gmat
769       770     132  high
770       771      28  high
771       772      10  high
772       773      52  high

In [187]:
df.gmat.value_counts()

high    771
low       2
Name: gmat, dtype: int64

In [209]:
df=pd.read_csv('/content/Crop_recommendation kaggle npk.csv')
df.head(4)

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice

In [210]:
f=lambda x: round(df.ph)

In [212]:
l=[1,2,3,4,5,6,6]

In [213]:
f=lambda x:x>3

In [214]:
list(map(f,l))

[False, False, False, True, True, True, True]

In [220]:
df['ph']=pd.DataFrame(map(int,df.ph))
df.head()

    N   P   K  temperature   humidity  ph    rainfall label
0  90  42  43    20.879744  82.002744   6  202.935536  rice
1  85  58  41    21.770462  80.319644   7  226.655537  rice
2  60  55  44    23.004459  82.320763   7  263.964248  rice
3  74  35  40    26.491096  80.158363   6  242.864034  rice
4  78  42  42    20.130175  81.604873   7  262.717340  rice